<section id="hero-area" >
  <div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">

                <!-- Slider -->
                <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                      Our mission is to enhance the performance <br>of individuals and their organizations.
                    </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                      At Sharing Wisdom, we leverage over 40 year's experience in business and education<br> to help individuals and organiations achieve their goals.

                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works" >View Works</a>

                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<section id="works" class="works">
  <div class="container">
     <div class="section-heading">
       <h1 class="title wow fadeInDown homepage-header" data-wow-delay=".3s">Whatever is impeding your progress, we can help</h1>
         <h1 class="title wow fadeInDown homepage-header" data-wow-delay=".3s"><%= raw @page.content_for(:body) %></h1>
     </div>
     <div class="row">
         <div class="col-sm-4 col-xs-12">
             <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                 <div class="img-wrapper">
                     <%= image_tag "business-meeting.jpg", class: "img-responsive" %>
                     <div class="overlay">
                         <div class="buttons">
                           <a href="#">Learn About Us</a>
                         </div>
                     </div>
                 </div>
                 <figcaption>
                 <h4>
                 <a href="#">
                     Our Story
                 </a>
                 </h4>
                 </figcaption>
             </figure>
         </div>
         <div class="col-sm-4 col-xs-12">
             <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                 <div class="img-wrapper">
                     <%= image_tag "blog-homepage.jpg", class:"img-responsive" %>
                     <div class="overlay">
                         <div class="buttons blog-link">
                             <a href="/blog">Read Our Blog</a>
                         </div>
                     </div>
                 </div>
                 <figcaption>
                 <h4>
                 <a href="#">
                     Blog
                 </a>
                 </h4>
                 </figcaption>
             </figure>
         </div>
         <div class="col-sm-4 col-xs-12">
             <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                 <div class="img-wrapper">
                     <%= image_tag "about-company.jpg", class:"img-responsive" %>
                     <div class="overlay">
                         <div class="buttons blog-link">
                             <a href="#">View Our Partners</a>
                         </div>
                     </div>
                 </div>
                 <figcaption>
                 <h4>
                 <a href="#">
                     Partners
                 </a>
                 </h4>
                 </figcaption>
             </figure>
         </div>
     </div>
  </div>
</section> <!-- #works -->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
   <div class="container">
       <div class="section-heading">
           <h1 class="title wow fadeInDown homepage-header" data-wow-delay=".3s">Whatever is impeding your progress, we can help</h1>
           <h3 class="wow fadeInDown homepage-subtitle" data-wow-delay=".5s">
             We specialize in helping resolve the issues—whether personal, academic or professional—that impede performance.
           </h3>
       </div>
       <div class="row">
           <div class="col-md-4 col-lg-4 col-xs-12">
               <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                   <div class="media-left">
                       <div class="icon">
                           <i class="ion-ios-people-outline"></i>
                       </div>
                   </div>
                   <div class="media-body">
                       <h4 class="media-heading">Individuals and Families</h4>
                       <p>We assist individuals ranging from teenagers through
                         octogenarians and families of all sizes.</p>
                   </div>
               </div>
           </div>
           <div class="col-md-4 col-lg-4 col-xs-12">
               <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                   <div class="media-left">
                       <div class="icon">
                           <i class="ion-ios-pie-outline"></i>
                       </div>
                   </div>
                   <div class="media-body">
                       <h4 class="media-heading">For-Profit or Nonprofit</h4>
                       <p>We specialize in helping resolve the issues—whether personal,
                         academic or professional—that impede performance.</p>
                   </div>
               </div>
           </div>
           <div class="col-md-4 col-lg-4 col-xs-12">
               <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                   <div class="media-left">
                       <div class="icon">
                           <i class="ion-ios-world-outline"></i>
                       </div>
                   </div>
                   <div class="media-body">
                       <h4 class="media-heading">Organizations of All Sizes</h4>
                       <p>We can help any size organization, from early-stage
                        start-ups to mature organizations with revenues in the hundreds
                       of millions of dollars.</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>


